body {
    background-color: skyblue;
}

.header {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
}

.box {
    border-radius: 6px;
    height: 40px;
    width: 80px;
    margin: 60px auto;
}

.box1 {
    background-color: seagreen;
    text-align: justify;
}

.box2 {
    background-color: steelblue;
}

.box:hover{
    transform: scale(4);
}

.box2 {
    transition-property: all;
    transition-duration: 2s;
    text-align: justify;
}

.square1, .square2 {
    border-radius: 8px;
    height: 150px;
    width: 150px;
    margin: 100;
    position: absolute;
}

.gif {
    display: flex;
    margin: 15px;
}

.gif p {
    justify-content: left;
    margin: 10px;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indigo;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    height: 50%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.animaciones {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: orange;
}

.animaciones:hover {
    animation: change-color 6s;
}

@keyframes change-color {
    0% {background-color: aqua;
    }

    15% {border-radius: 50%;
    }

    50% {background-color: yellow;
    }

    75% {width: 600px;
    }
}